<html>
    <head>

    </head>
    <body>

    <form action="{% url 'chats:upload_view' %}" method="post" id="file-upload-form" enctype="multipart/form-data"> {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary" id='upload-btn'>Upload</button>
    </form>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">

        function upload(event) {
        event.preventDefault();
        var data = new FormData($('form').get(0));

        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                alert('success');
            }
        });
        return false;
        }

        $(function() {
            $('form').submit(upload);
        });

    </script>

	</body>
</html>