{% load static %}

<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{% static 'chats/main.css' %}">
    </head>
    <body>
        <a href="#" id='older_messages'>Older messages</a>
        <div id='message_box' data-last-message-id="{{ last_message_id }}" data-first-message-id="{{ first_message_id }}">
            {% if messages %}
                {% for message in messages %}
                    {% if message.type == 'm' %}
                        <div class='message'>{{ message.date|date:"d.m.Y G:i:s" }}: {{ message.message }}</div>
                    {% elif message.type == 'f' %}
                        <div class='message file'>{{ message.date|date:"d.m.Y G:i:s" }}: {{ message.message }}
                            <a href="{{ message.file.url }}">{{ message.get_file_name }}</a></div>
                    {% elif message.type == 's' %}
                        <div class='message system_message'>{{ message.date }}: {{ message.message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <form action="{% url 'chats:send_message' room_id %}" id="chat_form" method="post" enctype="multipart/form-data" data-room-id="{{ room_id }}" novalidate>
            {{ form }}
            <input type="submit" value="Send" name="submit">
        </form>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript">

        $(function() {
            $("#chat_form").submit(function(e) {
                e.preventDefault();
                submit_form($(this));
                return false;
            });

            $("#older_messages").click(function(e) {
                e.preventDefault();
                load_older_messages();
                return false;
            });

            //sync_messages();
            //sync_messages_cycle();
        });

        function submit_form($form) {
            var data = new FormData($('form').get(0));

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    sync_messages();
                    $('#chat_form #id_message').val('');
                },
                error: function(data) {
                    alert('Error submitting');
                }
            });
            
            return false;
        }


        function load_older_messages() {
            var $message_box = $('#message_box');
            first_message = {'first_message_id': $message_box.data("firstMessageId") };
            console.log(first_message)
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                data: first_message,
                dataType: 'json',
                type: 'post',
                url: "{% url 'chats:get_previous' room_id %}",
                success: function(data) {
                    data.previous_messages.forEach(function(message) {
                        if (message.type == 'm')
                            $message_box.prepend( "<div class=\"message\">" + message.date + ': ' + message.message + "</div>" );
                    });
                    if (data.first_message_id != null)
                        $message_box.data("firstMessageId", data.first_message_id);
                },
                error: function(data) {

                }
            });
            $('#chat_form #id_message').val('');
        }

        function sync_messages() {
            var last_message_id = $('#message_box').data("lastMessageId");
            if (last_message_id != 0) {
                $('#message_box').data("lastMessageId", 0); // In order to synchronize with the rest sync_messages()
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });
                $.ajax({
                    data: { 'last_message_id': last_message_id},
                    dataType: 'json',
                    type: 'post',
                    url: "{% url 'chats:sync_messages' room_id %}",
                    success: function(data) {
                        data.new_messages.forEach(function(message) {
                            if (message.type == 'm')
                                $( "#message_box" ).append( "<div class=\"message\">" + message.date + ': ' + message.message + "</div>" );
                        });
                        if (data.last_message_id != null) {
                            $('#message_box').data("lastMessageId", data.last_message_id);
                        }
                    },
                    error: function(data) {

                    }
                });
            }
            
        };

        function sync_messages_cycle() {
            sync_messages();
            setTimeout(function(){
                sync_messages_cycle();
            }, 2000)
        }

        function scroll_to_bottom(element) {
                var element = $(element);
                var height = element[0].scrollHeight;
                element.animate({ scrollTop: height}, 1000);
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
	</script>
	
	
	
	
	</body>
</html>